{% extends "adminnavbar.html" %}
{% block title %}Missing List{% endblock %}
{% block content %}
<div class="container py-5">
    {% for x in row %}
    <div class="row">
        <div class="col-lg-8 mx-auto border rounded">
            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                <div class="media-body order-2 order-lg-1">
                    <h5 class="mt-0 font-weight-bold mb-2" style="text-transform: uppercase;">
                        {{x.mName}}</h5>
                    <p class="font-italic text-muted mb-0 small">The victim {{x.mName}}, aged {{x.mAge}} was
                        last seen missing at {{x.mLong}} and {{x.mLat}} on {{x.mDate}}.</p>
                    <div class="d-flex align-items-center justify-content-between mt-1">
                        <h6 class="font-weight-bold my-2">UPLOAD DATE: {{x.uploadedDate}}</h6>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <form method="post" action="/approve">
                                <input type="hidden" name="test" value={{x.rqstId}}>
                                <button type="submit" value="approve" name="approve" class="btn btn-success">Approve
                                </button>
                                <button type="submit" value="delete" name="delete" class="btn btn-danger">Delete
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <img src="static/uploads/{{x.mImages}}" alt="{{x.mImages}}" width="200" height="200"
                     class="ml-lg-5 order-1 order-lg-2">
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}