{% extends "navbar.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="container light-style flex-grow-1 container-p-y">
    <br>
    <h2 style="text-transform: uppercase;" class="text-center">Account Settings</h2>
    <small id="missingLocation" class="form-text text-muted text-center">
        Make adjustments to your profile
    </small>
    <br><br>
    <form>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                           href="#account-general">General</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                           href="#account-change-password">Change password</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <div class="card-body media align-items-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""
                                     class="d-block ui-w-80"
                                     height="150px">
                                <div class="media-body ml-4">
                                    <label for="profilepic">Upload new photo</label>
                                    <input id="profilepic" type="file" accept=".jpg,.png" class="form-control-file">
                                    &nbsp;
                                    <small id="missingNameHelp" class="form-text text-muted">
                                        Allowed JPG, JPEG or PNG. Max size of 800K
                                    </small>
                                </div>
                            </div>
                            <hr class="border-light m-0">

                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control" value="{{session.name}}">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Email</label>
                                    <input type="text" class="form-control" value="{{session.email}}">
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="account-change-password">
                            <div class="card-body pb-2">

                                <div class="form-group">
                                    <label class="form-label">Current password</label>
                                    <input type="password" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label class="form-label">New password</label>
                                    <input type="password" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label class="form-label">Repeat new password</label>
                                    <input type="password" class="form-control">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right mt-3">
            <button type="button" class="btn btn-primary">Save changes</button>&nbsp;
            <button type="button" class="btn btn-default">Cancel</button>
        </div>
    </form>
</div>
{% endblock %}