{% extends "navbar.html" %}
{% block title %}Request Form{% endblock %}
{% block content %}

<html lang="en">
<head>
    <!--    for datepicker-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    <!--    mapbox-->
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet'/>
    <!--    mapbox geocoder-->
    <link rel="stylesheet"
          href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css"
          type="text/css">
</head>
<body>

<main class="container">
    <br>
    <h2 style="text-transform: uppercase;" class="text-center">Request Form</h2>
    <small id="missingLocation" class="form-text text-muted text-center" style="padding-bottom: 50px">
        Submit a request in locating missing persons
    </small>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data" name="rqst" id="rqst">
        <div class="form-row justify-content-center">
            <div class="form-group col-md-5">
                <label for="mName"><h6>Full Name</h6></label>
                <input type="text" class="form-control" id="mName" name="mName" placeholder="Full Name" required>
                <small id="missingNameHelp" class="form-text text-muted">
                    The name must be exactly the same as the Identification Card.
                </small>
            </div>
            <div class="form-group col-md-1">
                <label for="mAge"><h6>Age</h6></label>
                <input type="number" value="16" min="0" max="100" step="1" class="form-control" name="mAge" id="mAge"
                       placeholder="Age" required>
            </div>
            <div class="form-group col-md-2">
                <label for="mDate"><h6>Missing Date</h6></label>
                <input id="mDate" name="mDate" type="date" class="form-control" placeholder="Select date" required>
            </div>
            <div class="form-group col-md-2">
                <label class="mr-sm-2" for="mGender"><h6>Gender</h6></label>
                <select type="text" class="custom-select mr-sm-2" name="mGender" id="mGender" required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-md-10">
                <label for="geocoder"><h6>Last Seen Location</h6></label>
                <div id="geocoder" class="geocoder"></div>
                <input type="number" step=any id="long" name="long" hidden>
                <input type="number" step=any id="lat" name="lat" hidden>
                <input type="text" id="address" name="address" hidden>

                <div id='rqstmap' style='width: 100%; height: 325px;'></div>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-md-10">
                <label for="fileInput"><h6>Choose Images</h6></label>
                    <input id="fileInput" type="file" accept=".jpg,.png,.jpeg" class="form-control-file" name="files[]"
                           onchange="previewFiles()"
                       multiple required>
                <br>
                <div id="preview"></div>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <button type="submit" value="submit" class="btn btn-primary center"><h6>Submit</h6></button>
        </div>
    </form>

    <style>
    .mapboxgl-ctrl-geocoder {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: -23px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        min-width: 100%;
        box-shadow: none;
    }

    #rqstmap {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: .25rem;
    }

    #image {
        padding-right: 10px;
    }



    </style>

</main>
<!--for image attachment-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--for datepicker-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<!--mapbox-->
<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<!--    mapbox geocoder-->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
<script type="text/javascript">
long = 100.312;
lat = 5.425;

<!--image attachment-->
function previewFiles() {

  var preview = document.querySelector('#preview');
  var files   = document.querySelector('input[type=file]').files;

  function readAndPreview(file) {

    if ( /\.(jpe?g|png)$/i.test(file.name) ) {
      var reader = new FileReader();

      reader.addEventListener("load", function () {
        var image = new Image();
        image.height = 250;
        image.title = file.name;
        image.src = this.result;
        preview.appendChild( image );
      }, false);

      reader.readAsDataURL(file);
    }

  }

  if (files) {
    [].forEach.call(files, readAndPreview);
  }
}


<!--        mapbox-->
mapboxgl.accessToken = 'pk.eyJ1IjoibWlzc2luZ3BlcnNvbnRlc3RpbmciLCJhIjoiY2t0MnBqajR5MDBiZTJxbnd3Zm91b3kwOCJ9.3fL2XKMWcaJ_-k3hE-oU7w';
    var rqstmap = new mapboxgl.Map({
        container: 'rqstmap',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [long, lat],
        zoom: 12
    });

<!--geocoder-->
const geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl
});

document.getElementById('geocoder').appendChild(geocoder.onAdd(rqstmap));

<!--coordinates-->
geocoder.on('result', ({result}) => {
    long = result.geometry.coordinates[0]
    document.getElementById('long').value = long
    lat = result.geometry.coordinates[1]
    document.getElementById('lat').value = lat

    address = result.place_name
    document.getElementById('address').value = address
});

<!--age select form-->
$(function(){
    var $select = $(".1-100");
    for (i=1;i<=100;i++){
        $select.append($('<option></option>').val(i).html(i))
    }
});

</script>
</body>
{% endblock %}